/* contact.css */

#contactPage {
    
    
    font-family: 'Arial', sans-serif; 
  }
  
  .contact {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .contactPageTitle {
    font-size: 2.5rem;
    color: gold;
    margin-bottom: 20px;
  }
  
  .contactDesc {
    font-size: 1rem;
    
    margin-bottom: 20px;
  }
  
  .contactForm {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  
  .name,
  .email,
  .msg {
    background: transparent;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .msg {
    height: 110px;
  }
  
  .submitBtn {
    width: 100%;
    padding: 10px;
    background-color: gold;
    color:black;
    font-size: 18px;  
    text-shadow: 3px;
    font-weight: bold;   
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
  }
  
  .submitBtn:hover {
    background-color: rgb(254, 182, 0);
    /* color:rgb(189, 176, 176); */
    transform: scale(110%);
    font-weight: bold;   
  }


  
  @media only screen and (max-width: 768px) {
    .contactPage{
        padding: 30px 15px;
    }
    .contactPageTitle {
      font-size: 2rem;
      margin-bottom: 15px;
    }
  
    .contactDesc {
      font-size: 0.9rem;
      margin-bottom: 15px;
    }
    .contactForm{
        grid-gap: 15px;
    }
  
    .msg {
      height: 120px;
    }
  }