.wave {
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    animation-name: wave-animation;
    display: inline-block;
    transform-origin: 70% 70%;
  }
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  
  .contact-links {
    display: flex;           /* Aligns the links horizontally */
    justify-content: center; /* Centers the links within the parent element */
    gap: 20px;               /* Adds space between each icon */
    margin-top: 20px;        /* Adds some space above the links */
}

.contact-links a {
    text-decoration: none;  /* Removes underline from links */
    color: goldenrod;       /* Sets the color of the icons */
    font-size: 1.5rem;      /* Increases the size of the icons */
    transition: transform 0.3s ease; /* Adds a smooth transition effect */
}

.contact-links a:hover {
    transform: scale(1.2);  /* Scales up the icon when hovered */
    color: orange;          /* Changes the color on hover */
}